[submodule "Externals/polypartition"]
	path = Externals/polypartition
	url = https://github.com/xiconxi/polypartition
[submodule "Externals/glm"]
	path = Externals/glm
	url = https://github.com/g-truc/glm
